version: '3.9'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: event-sync-api
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - rabbitmq
    command: ["uv", "run", "uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

  redis:
    image: redis:7
    container_name: event-sync-redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: event-sync-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
